<?xml version='1.0' encoding='utf-8'?>
<widget id="manolo.field" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>PhenoBook</name>
	<description></description>
	<author email="crescente.juan@inta.gob.ar">
		Juan M. Cresc
	</author>
	<content src="index.html"/>
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="*"/>
	<icon src="platforms/android/res/drawable/icon.png" />
</widget>
