{
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


.page{
	padding: 1em;
	margin-top: 2em;
}

.container{
	padding-top: 2em;
}
.center{
	text-align: center;
}
.list-group a:hover, .list-group a{
	text-decoration: none;
	color: #333;
}
.update-container{
	padding: 2em;
}
img.preview{
	width: 100%;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
.btn100{
	width: 100%;
}